body {
    background:lightblue;
    margin: 0;
    padding: 0;
  }
  

.content
{
  display:flex;
  justify-content:center;
}

.remember_me
{
  display:flex;
  justify-content:flex-start;
  margin-left: 255px;
}

  .table
{
  width: 40%;
  height: 60%;
}
li {
    color: #FFF;
    display: inline-block;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0;
    padding: 20px 18px 10px 18px;
    text-transform: uppercase;
  }
  

table {
    height: 40%;
    left: 10%;
    margin: 4px auto;
    overflow-y: scroll;
    position: static;
    width: 35%;
  }
  
thead th {
    background: #88CCF1;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  input{
    border: 0px;
    background: #f4f7f8;
    width: 25%;
    height: 100%;
  }
 
  label{
    text-align: center;
  }
  tr {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF;
    margin-bottom: 1px;
    width: 35%;
  }
 
th, td {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 2px;
    text-align: left;
    width: 35%;
  }
  

  form {
    text-align: center;
    width: 40%;
    
  }
  
    
  h1 {
    text-align: center;
  }
  
  #remember
  {
    height: 15px;
    width: 15px;
  }
 
  