{% extends "base.html" %}
{% block content %}
{% from "form_macro.html" import render_field %}
<div class="content">
<form method=post>
  <dl>
    {{ render_field(form.name) }}
    {{ render_field(form.location) }}
    <dd><input type=submit value="add"></dd>
  </dl>

</form>
</div>
{% endblock %}