{% extends "base.html" %}
{% block content %}
{% from "form_macro.html" import render_field %}
<div class="content">
<form method=post>
  <dl>
    {{ render_field(form.name) }}
    {{ render_field(form.password) }}
    {{ render_field(form.password_check) }}
    {{ render_field(form.access_level) }}
    <dd><input type=submit value="save"></dd>
    
  </dl>

</form>
</div>
{% endblock %}

