{% extends "base.html" %}
{% block content %}
{% from "form_macro.html" import render_field %}
<div class="content">
<form method=post>
  <dl>
    {{ render_field(form.name) }}
    {{ render_field(form.surname) }}
    {{ render_field(form.address) }}

    {{ render_field(form.aha) }}
   <dd> <input type=submit value="add"> </dd>
  </dl>
  
</form>
</div>
{% endblock %}