<!DOCTYPE html>
<html>
<head>
<title>My project</title>
<link  rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
</head>
<body>

{% if current_user.is_authenticated %}
<a href="{{ url_for('main') }}">main</a>

<a href="{{ url_for('logout') }}">log out</a>

{% endif %}

{% block content %}
{% endblock %}

</body>

</html>