{% extends "base.html" %}
{% block content %}
{% from "form_macro.html" import render_field %}
<div class="content">
<form method=post>
  <dl>
    {{ render_field(form.name, value=current_user.name) }}
    {{ render_field(form.password, value=current_user.password) }}
    {{ render_field(form.password_check, value=current_user.password) }}
   
   <dd><input type=submit value="save"></dd> 
    
  </dl>
  
</form>
</div>
{% endblock %}
