{% extends "base.html" %}
{% block content %}
{% from "form_macro.html" import render_field %}
<div class="content">
<form method=post>
  <dl>
    {{ render_field(form.date_of_start ) }}
    {{ render_field(form.date_of_end) }}
    {{ render_field(form.owner ) }}
    <dd> <input type=submit value="edit"> </dd>
  </dl>

</form>
</div>
{% endblock %}
