{% extends "base.html" %}
{% block content %}
{% from "form_macro.html" import render_field %}
<div class="content">
<form method=post>
  <dl>
    {{ render_field(form.serial_number ) }}
    {{ render_field(form.be_active_to) }}
    {{ render_field(form.resource) }}
    <dd> <input type=submit value="edit"> </dd>
  </dl>

</form>
</div>
{% endblock %}