{% extends "base.html" %}
{% block content %}
{% from "form_macro.html" import render_field %}
<div class="content">
<form method=post>
  <dl>
    {{ render_field(form.address) }}
    {{ render_field(form.balance) }}
    {{ render_field(form.is_deptor) }}

    {{ render_field(form.client) }}
   <dd> <input type=submit value="save"> </dd>
  </dl>

</form>
</div>
{% endblock %}