{% extends "base.html" %}
{% block content %}
{% from "form_macro.html" import render_field %}
<div class="content">
<form method=post>
  <dl>
    {{ render_field(form.water_discount) }}
    {{ render_field(form.energy_discount) }}
  <dd> <input type=submit value="edit"> </dd>
  </dl>

</form>
</div>
{% endblock %}