{% extends "base.html" %}
{% block content %}
{% from "form_macro.html" import render_field %}
<div class="content">
<form method=post>
  <dl>
    {{ render_field(form.date_sent) }}
    {{ render_field(form.status) }}
   <dd> <input type=submit value="save"> </dd>
  </dl>

</form>
</div>
{% endblock %}