{% extends "base.html" %}
{% block content %}
{% from "form_macro.html" import render_field %}
<div class="content">
<form method=post>
  <dl>
    {{ render_field(form.name) }}
    {{ render_field(form.password) }}
    <div class="remember_me">
    {{ render_field(form.remember) }}
    </div>
    <dd>  <input type=submit value="log in"></dd>
  </dl>
  
</form>
</div>
{% endblock %}