{% extends "base.html" %}
{% block content %}
<h1>Contracts</h1>
<table>
    <thead>
      <tr>
        <th>Date of start</th>
        <th>Date of end</th>


      </tr>
    </thead>
    <tbody>
    {% for contract in contracts %}
      <tr>


        <td>{{  contract.dataOfStart }}</td>
        <td>{{  contract.dataOfEnd }}</td>
{% if current_user.access[current_aha] == 'Owner' %}
        <td> <a href="{{ url_for('edit_contract',client_id=contract.clientRef ,id=contract.id) }}">edit</a></td>
        <td> <a href="{{ url_for('delete_contract',client_id=contract.clientRef ,id=contract.id) }}">delete</a></td>
      {% endif %}
      </tr>
      {% endfor %}
    </tbody>
   </table>


 <div class="content">
   <button onclick="document.location='/add_contract/{{ client_id }}'">add new contract</button>
  </div>
{% endblock %}