{% extends "base.html" %}
{% block content %}
<h1>Meter Date</h1>
<table>
    <thead>
      <tr>
        <th>Amount</th>
        <th>Date</th>

      </tr>
    </thead>
    <tbody>

    {% for meter_data in meters_data %}
      <tr>

        <td>{{  meter_data.amountOfResource }}</td>
        <td>{{  meter_data.date }}</td>

      </tr>
    {% endfor %}

    </tbody>
   </table>

  <div class="content">
   <button onclick="document.location='/add_meter_data/{{ meter_id }}'">add new meter data</button>
  </div>

<div class="content">
   <button onclick="document.location='/show_meter/{{ personal_account_id }}'">go to meters</button>
</div>
{% endblock %}