
{% extends "base.html" %}
{% block content %}
<h1>Privilege</h1>
<table>
    <thead>
      <tr>
        <th>Water discount</th>
        <th>Energy discount</th>

      </tr>
    </thead>
    <tbody>
    {% for privilege in privileges %}
      <tr>

        <td>{{  privilege.waterDiscount }}</td>
        <td>{{  privilege.energyDiscount }}</td>
          {% if current_user.access[current_aha] == 'Owner' %}
          <td> <a href="{{ url_for('edit_privilege', id=privilege.id) }}">edit</a></td>
        <td> <a href="{{ url_for('delete_privilege',id=privilege.id) }}">delete</a></td>
                {% endif %}
      </tr>
      {% endfor %}
    </tbody>
   </table>

  <div class="content">
   <button onclick="document.location='/add_privilege'">add new privilege</button>
  </div>
  <div class="content">
   <button onclick="document.location='/show_personal_account/{{ client_id }}'">go to personal accounts</button>
  </div>
{% endblock %}