{% extends "base.html" %}
{% block content %}
<h1>Payment</h1>
<table>
    <thead>
      <tr>
        <th>price</th>
        <th>date</th>

      </tr>
    </thead>
    <tbody>
    {% for payment in payments %}
      <tr>

        <td>{{  payment.totalPrice }}</td>
        <td>{{  payment.data }}</td>
      </tr>
      {% endfor %}
    </tbody>
   </table>

  <div class="content">
   <button onclick="document.location='/add_payment'">add new payment</button>
  </div>
  <div class="content">
   <button onclick="document.location='/show_personal_account/{{ client_id }}'">go to personal accounts</button>
  </div>
{% endblock %}