{% extends "base.html" %}
{% block content %}
<h1>Meter</h1>
<table>
    <thead>
      <tr>
        <th>serial number</th>
        <th>Be active to</th>
        <th>Type</th>

      </tr>
    </thead>
    <tbody>
    {% for meter in meters %}
      <tr>

        <td>{{  meter.serialNumber }}</td>
        <td>{{  meter.beActiveTo }}</td>
        <td>{{  meter.type }}</td>
          {% if current_user.access[current_aha] == 'Owner' %}
        <td> <a href="{{ url_for('edit_meter', id=meter.id) }}">edit</a></td>
        <td> <a href="{{ url_for('delete_meter',id=meter.id) }}">delete</a></td>
                {% endif %}
        <td> <a href="{{ url_for('show_meter_data', meter_id=meter.id) }}">show meter data</a></td>
      </tr>
      {% endfor %}
    </tbody>
   </table>

  <div class="content">
   <button onclick="document.location='/add_meter'">add new meter</button>
  </div>

<div class="content">
   <button onclick="document.location='/show_personal_account/{{ client_id }}'">go to personal accounts</button>
</div>
{% endblock %}