{% extends "base.html" %}
{% block content %}
<h1>Bill</h1>
<table>
    <thead>
      <tr>
        <th>price</th>
        <th>date of sent</th>
        <th>status</th>

      </tr>
    </thead>
    <tbody>
    {% for bill in bills %}
      <tr>

        <td>{{  (bill.price|float) /100  }}</td>
        <td>{{  bill.dateOfSent }}</td>
        <td>{{  bill.status }}</td>
            {% if bill.status=='new' %}
             {% if current_user.access[current_aha] == 'Owner' %}
        <td> <a href="{{ url_for('edit_bill', id=bill.id) }}">edit</a></td>
        <td> <a href="{{ url_for('delete_bill', id=bill.id) }}">delete</a></td>
           {% endif %}
             {% endif %}
      </tr>
      {% endfor %}
    </tbody>
   </table>


<div class="content">
   <button onclick="document.location='/show_personal_account/{{ client_id }}'">go to personal accounts</button>
</div>
{% endblock %}