{% extends "base.html" %}
{% block content %}
<h1>AHA</h1>
<table>
    <thead>
      <tr>
        <th>name</th>
        <th>location</th>

      </tr>
    </thead>
    <tbody>
    {% for aha in ahas %}
      <tr>
        
        <td>{{  aha.name }}</td>
        <td>{{  aha.location }}</td>
          {% if current_user.access[aha.id] == 'Owner' %}
        <td> <a href="{{ url_for('edit_aha', aha_id=aha.id) }}">edit</a></td>
        <td> <a href="{{ url_for('delete_aha', aha_id=aha.id) }}">delete</a></td>
          {% endif %}
        <td> <a href="{{ url_for('show_client', aha_id=aha.id) }}">show clients</a></td>


      </tr>
      {% endfor %}
    </tbody>
   </table>
  <div class="content">
   <button onclick="document.location='add_aha'">add new AHA</button>
  </div>
{% endblock %}

