{% extends "base.html" %}
{% block content %}
<h1>Clients</h1>
<table>
    <thead>
      <tr>
        <th>name</th>
        <th>surname</th>
        <th>address</th>

      </tr>
    </thead>
    <tbody>
    {% for client in clients %}
      <tr>
        
        <td>{{  client.name }}</td>
        <td>{{  client.surname }}</td>
        <td>{{  client.realAdress }}</td>
          {% if current_user.access[current_aha] == 'Owner' %}
        <td> <a href="{{ url_for('edit_client', id=client.id) }}">edit</a></td>
        <td> <a href="{{ url_for('delete_client',aha_id=client.ahaRef ,id=client.id) }}">delete</a></td>
                {% endif %}
        <td> <a href="{{ url_for('show_personal_account', client_id=client.id) }}">show personal accounts</a></td>
        <td> <a href="{{ url_for('show_contract', client_id=client.id) }}">show contracts</a></td>
      </tr>
      {% endfor %}
    </tbody>
   </table>

  <div class="content">
   <button onclick="document.location='/add_client'">add new client</button>
  </div>
{% endblock %}
