{% extends "base.html" %}
{% block content %}
<h1> Personal Accounts</h1>
<table>
    <thead>
      <tr>
        <th>address</th>
        <th>balance</th>
        <th>debtor</th>

      </tr>
    </thead>
    <tbody>
    {% for personal_account in personal_accounts %}
      <tr>

        <td>{{  personal_account.registrationAdress}}</td>
        <td>{{  (personal_account.balance|float) /100 }}</td>
          {% if personal_account.isDeptor==1 %}
        <td>Yes</td>
          {% else %}
            <td>No</td>
          {% endif %}
          {% if current_user.access[current_aha] == 'Owner' %}
        <td> <a href="{{ url_for('edit_personal_account', id=personal_account.id) }}">edit</a></td>
        <td> <a href="{{ url_for('delete_personal_account',client_id=personal_account.clientRef ,id=personal_account.id) }}">delete</a></td>

                {% endif %}
        <td> <a href="{{ url_for('show_payment', personal_account_id=personal_account.id) }}">show payments</a></td>
        <td> <a href="{{ url_for('show_meter', personal_account_id=personal_account.id) }}">show meters</a></td>
        <td> <a href="{{ url_for('show_bill', personal_account_id=personal_account.id) }}">show bill</a></td>
        <td> <a href="{{ url_for('show_privilege', personal_account_id=personal_account.id) }}">show privilege</a></td>
      </tr>
      {% endfor %}
    </tbody>
   </table>

  <div class="content">
   <button onclick="document.location='/add_personal_account'">add new personal account</button>
  </div>
{% endblock %}
